@using System.Linq.Expressions
<div class="form-group">
    <label for="@Id">@Label</label>
    <InputDate id="@Id"
               class="form-control"
               Value="@Value"
               ValueChanged="@ValueChanged"
               ValueExpression="@ValueExpression" />
    <ValidationMessage For="@ValueExpression"></ValidationMessage>
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public DateTime Value { get; set; }
    [Parameter] public EventCallback<DateTime> ValueChanged { get; set; }
    [Parameter] public Expression<Func<DateTime>>? ValueExpression { get; set; }
}